.sidebar-container {
  display: flex;
}
main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  position: fixed;
  background-color: white;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.425);
  z-index: 100;
}

.top_section {
  display: flex;
  align-items: center;
  
  padding: 15px 10px;
}
.logo {
  font-size: 20px;
  line-height: 0;
  margin-top: 10px;
  font-family: 700;
}
.bars {
  /* width: 40px; */
  font-size: 22px;
  cursor: pointer;
  color: rgb(17, 0, 40);
 margin-right: 20px;
}
.hide {
  display: none;
}
.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  color: rgb(39, 0, 89);
  text-decoration: none;
  display: flex;
  gap: 10px;
  padding: 10px 10px;
  margin-top: 3px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  color: rgb(39, 0, 89);
  border-right: 4px solid rgb(17, 0, 40);
  background: rgba(0, 0, 0, 0.046);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid rgb(17, 0, 40);
  background: rgba(0, 0, 0, 0.046);
}
.link_text {
  white-space: nowrap;
  text-decoration: none;
  font-size: 12px;
  padding-top: 10px;
  font-weight: 700;

}

.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: rgb(0, 0, 0) 0.5px solid;
}
.link .icon{
  font-size: 20px;
  color: rgba(25, 0, 58, 0.915);
}
